@font-face {
  font-family: "Digital-7";
  src: url("fonts/digital-7.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #21aeff, #ff21f4);
}

#calculator {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  height: auto;
  width: 400px;
  padding: 12px;
  border: solid 4px rgba(0, 0, 0, 0);
  border-radius: 12px;
  margin: 20px auto;
  flex-shrink: 0;
  background-color: rgb(49, 49, 49);
}

/*-------
Display
--------*/

#display {
  background-color: rgb(27, 27, 27);
  position: relative;
  min-height: 120px;
  flex-shrink: 0;
  color: white;
  text-wrap: wrap;
  word-wrap: break-word;
  border: solid 4px rgb(82, 82, 82);
  border-radius: 10px;
  padding: 8px 12px 0px;
  font-family: "Digital-7";
  font-size: 60px;
  box-shadow: inset 10px 15px 65px rgba(0, 0, 0, 0.1);
}

#top-wrap {
  font-size: 40px;
  min-height: 1em;
  color: rgb(179, 179, 179);
}

#top-wrap,
#bot-wrap {
  text-align: right;
}

#operator {
  margin-left: 12px;
}

/*-------
Buttons
--------*/

#buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  height: 16px;
  gap: 5px;
  flex-shrink: 0;
  flex: 1;
}

#num-0 {
  flex: 1 0 calc(50% - 8px);
}

.button {
  border-radius: 8px;
  border: 0;
  margin: 1px;
  font-size: 20px;
  flex: 1 0 calc(25% - 10px);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: rgb(100, 100, 100);
  color: azure;
  font-size: 34px;
  height: 88px;
  cursor: pointer;
  /* outline: solid 2px red; */
}

.button:hover {
  filter: brightness(1.2);
}
.button:active {
  filter: brightness(0.8);
}

button span {
  pointer-events: none;
}

#equal {
  background-color: rgb(71, 202, 45);
}

.operator {
  background-color: rgb(255, 157, 45);
}

#clear {
  background-color: rgb(255, 95, 95);
}

#pmplus {
  margin-bottom: 12px;
  font-size: 24px;
  transform: translate(10%);
}
#pmminus {
  margin-top: 4px;
  font-size: 28px;
  transform: translate(-10%);
}
#backspace span {
  margin-bottom: 8px;
}
#multiply span {
  font-size: 48px;
  margin-top: 18px;
}
#minus {
  font-size: 48px;
}
