* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}
#buttons,
#left-side,
#right-side {
    display: flex;
    flex: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    padding: 12px;
    border: solid 4px grey;
    border-radius: 8px;
}

#display {
    border: solid 4px grey;
    padding: 8px 4px 0px;
}

#display-text {
    text-align: right;
    font-size: 36px;
}

#left-side{
    flex-wrap: wrap;
    flex: 3;
    justify-content: space-between;
    gap: 5px;
}

#left-side .button {
    flex: 1 1 calc(33.333% - 10px);
    
}

#right-side {
    flex-direction: column;
    justify-content: space-between;
    flex: 1; 
    gap: 5px; 
}

#right-side .button {
    height: calc(25% - 10px); 
}


#bottom {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 5px;
    /* outline: solid 2px red; */
}

#bottom #num-0 {
    flex: 2.15;
    /* outline: solid 2px red; */
}
#bottom #dot {
    flex: 1;
    /* outline: solid 2px red; */
}

#plus {
    flex: 2.1;
}

#backspace,
#minus,
#equal {
    flex: 1;
}

#buttons {
    margin-top: 12px;
    height: 100%;
    gap: 5px;
}

.button {
    margin: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    outline: solid 2px red;
}